@import '../../styles/colors';
@import '../../styles/fonts';

.challenge {
  width: 60%;
}
.challenge-heading {
  font-size: $title;
  margin-bottom: 10px;
}
.challenge-main {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 212, 255, 0) 100%
    ),
    url('../../icons/food.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 220px;
}
.chal-desc {
  font-size: $descrp;
  width: 55%;
  margin-bottom: 10px;
}
.chal-title {
  font-size: $title;
  color: $blue-highlight;
  margin-bottom: 5px;
  align-items: baseline;
}
.chal-recepie {
  font-size: $info;
}
.chal-step {
  font-size: $descrp;
  color: $grey;
}
.chal-info {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}
.vl {
  border-left: 2px solid $grey;
  height: 75px;
}
.buttons {
  display: flex;
  align-items: center;
}
.addButton {
  background-color: black;
  color: #fff;
  font-size: $info;
  border-radius: 25px;
  padding: 4px 16px;
  border: 0px;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
}
.shareLink {
  font-size: $info;
  color: $cyan;
  text-transform: uppercase;
  margin-left: 16px;
}

@media (max-width: 789px) {
  .challenge {
    width: 100%;
  }
  .challenge-main {
    height: auto;
    background-image: none;
  }
  .vl {
    display: none;
  }
  .chal-info {
    flex-direction: column;
  }
  .chal-desc {
    width: 100%;
  }
}
