@import './colors';

// .title {
//   font-size: 36px;
// }
// .subTitle {
//   font-size: 24px;
// }
// .info {
//   font-size: 14px;
//   color: $grey;
// }
// .descrp {
//   font-size: 18px;
// }

$title: 20px;
$subTitle: 18px;
$info: 14px;
$descrp: 12px;
