@import '../../styles/colors';
@import '../../styles/fonts';

.monitoring {
}
.heading {
  display: flex;
  justify-content: space-between;
}
.primary {
  font-size: $title;
}
.secondary {
  font-size: $info;
  color: $grey;
}
.box {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
.categories {
  display: flex;
  justify-content: space-evenly;
}
