@import '../../styles/colors';
@import '../../styles/fonts';

.Header {
  padding: 15px 90px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBar {
  background: $bg;
  border-radius: 25px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  color: $grey;
  font-weight: 400;
  font-size: $info;
  width: 40%;
}
.icon {
  margin: 0px 8px;
  width: 16px;
}
.links {
  display: flex;
  font-size: $title;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.header-img {
  border-radius: 50%;
  width: 30px;
  margin-right: 8px;
}
.header-profile {
  display: flex;
  align-items: center;
}
.menu-icon {
  display: none;
}
@media (max-width: 789px) {
  .searchBar {
    width: 60%;
    margin-left: 4px;
  }
  .username {
    display: none;
  }
  .Header {
    padding: 15px;
  }
  .links {
    width: 25%;
  }
  .menu-icon {
    display: block;
    width: 20px;
  }
}
