@import '../../styles/colors';
@import '../../styles/fonts';

.recommended {
  margin-bottom: 10px;
}
.recommended-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
}
.recommended-primary {
  font-size: $title;
}
.recommended-secondary {
  font-size: $title;
  color: $grey;
}
.recommended-box {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  position: relative;
}
.recommended-box:nth-of-type(1) {
  background: linear-gradient(
    135deg,
    rgba(245, 177, 216, 1) 0%,
    rgba(172, 126, 244, 1) 100%
  );
}
.recommended-box:nth-of-type(2) {
  background: linear-gradient(
    135deg,
    rgba(133, 251, 176, 1) 0%,
    rgba(142, 214, 240, 1) 100%
  );
}
.recommended-box:nth-of-type(3) {
  background: linear-gradient(
    135deg,
    rgba(237, 133, 168, 1) 0%,
    rgba(250, 155, 123, 1) 100%
  );
}
.recommended-box:nth-of-type(4) {
  background: linear-gradient(
    135deg,
    rgba(93, 212, 254, 1) 0%,
    rgba(94, 127, 254, 1) 100%
  );
}

.recommended-content {
  display: flex;
  flex: 1;
  background-color: rgba($color: #ffff, $alpha: 0.7);
  padding: 4px 8px;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
}
.recommended-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommended-logo {
  width: 30px;
  margin-right: 8px;
}
.recommended-type {
  font-size: $info;
}

.recommended-status {
  font-size: $descrp;
  color: $grey;
}
.recommended-img {
  text-align: center;
  flex: 3;
}
.plus-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
}
