@import './styles/colors';
* {
  transition: all 0.5s ease;
}

.App {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}

.main {
  width: 85%;
  height: 100%;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: white;
}
.container {
  padding: 10px 90px;
  background-color: $bg;
  height: 100%;
  border-radius: 12px 0px 0px 0px;
}
.section2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 789px) {
  .main {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .container {
    border-radius: 0;
  }
  .section2 {
    display: block;
  }
  .container {
    padding: 10px 30px;
  }
}
